body {
    background:navy;
    font-family:Helvetica;
}

.assignment {
    background:goldenrod;
    padding:25px;
    margin:15px;
}

.assignment img {
    padding:15px;
}

h1 {
    color:goldenrod;
    text-align:center;
}